# .ebextensions/launch-template.config
option_settings:
  - namespace: aws:ec2:vpc:launchtemplate
    option_name: DisableIMDSv1
    value: true
  - namespace: aws:ec2:vpc:launchtemplate
    option_name: RootVolumeType
    value: gp3
  - namespace: aws:ec2:vpc
    option_name: AssociatePublicIpAddress
    value: true
Resources:
  AWSEBLaunchTemplate:
    Type: AWS::EC2::LaunchTemplate
    Properties:
      LaunchTemplateName: awseb-launch-template
      LaunchTemplateData:
        ImageId: resolve:ssm:/aws/service/ami-amazon-linux-latest/amzn2-ami-hvm-x86_64-gp2
        InstanceType: t3.micro
        SecurityGroupIds:
          - sg-02c6dc52a5accf41d
        IamInstanceProfile:
          Arn: !GetAtt AWSEBInstanceProfile.Arn
        BlockDeviceMappings:
          - DeviceName: /dev/xvda
            Ebs:
              VolumeSize: 8
              VolumeType: gp3