option_settings:
  aws:elbv2:listener:80:
    ListenerEnabled: 'true'
    Protocol: HTTP
    Port: 80
    DefaultActions:
      - Type: forward
        TargetGroupArn: "arn:aws:elasticloadbalancing:ap-south-1:139823407695:targetgroup/awseb-AWSEB-OP3HZYMYTDFV0/44e4e2489563ebf3"
  aws:elbv2:listener:443:
    ListenerEnabled: 'true'
    Protocol: HTTPS
    Port: 443
    SSLCertificateArns: "arn:aws:acm:ap-south-1:139823407695:certificate/a310cfb2-1924-499b-b883-f6a28afeb5c1"
    SSLPolicy: ELBSecurityPolicy-TLS13-1-2-2021-06
    DefaultActions:
      - Type: forward
        TargetGroupArn: "arn:aws:elasticloadbalancing:ap-south-1:139823407695:targetgroup/awseb-AWSEB-OP3HZYMYTDFV0/44e4e2489563ebf3"