<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#home},~{::title},~{},~{})}">
<head>
    <title data-th-text="${loggedInUser}+' | MTF">profile</title>
</head>
<body>
    <div id="home">
    <h1>this is profile page</h1>
            <h1 data-th-text="${loggedinuser.name}"></h1>
            <h1 data-th-text="${loggedinuser.email}"></h1>
        <div th:if="${loggedinuser}">
            <h1>User is logged in</h1>
            <h1>this is user logged in section</h1>
                
        </div>
    </div>
</body>
</html>