<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#home},~{::title},~{},~{})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    <link rel="stylesheet" th:href="@{'/css/output.css'}">
</head>
<body>
    <div>
        helow
    </div>
    <h1 id="home">
        <h2>hello home boy</h2>
        <h3>this is content area</h3>
    </h1>
    <script>
        console.log("this is mine home page")
    </script>
</body>
</html>